<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>

	<form method="post" action="/post_user">
		<label>Area:</label>
		<input id="area" name="area" type="text" />
		<label>Latitude:</label>
		<input id="latitude" name="latitude" type="text" />
		<label>Longitude:</label>
		<input id="longitude" name="longitude" type="text" />
		<label>Message:</label>
		<input id="message" name="message" type="text" />
		<input type="submit" />
	</form>

	{% for user in myUser %}
		<li>{{user.area }}</li>
	{% endfor %}

	{{ oneItem.area}}

</body>
</html>	